body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }

a { color:blue; text-decoration: none;}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover{ 
    text-decoration: underline;
}

a:visited {
    color: purple;
}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}


.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}

/* Alterações do header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header div {
    padding-top: 30px;
}

header nav ul li {
    display:inline-block;
    margin-right: 20px;
    padding-top: 15px;
}

.pImg1 {
    display: flex;
    flex-direction: row;
}

.pImg2 {
    display: flex;
    flex-direction: row;
}

.links-midias li {
    padding-left: 20px;
    padding-top: 5px;
}


.sidebar li {
    padding-top: 12px;
}

.sidebar li a {
    color: blue;
}

.sidebar li a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

table {
    border: solid 1px black;
    -webkit-box-shadow: 12px 14px 6px 5px rgba(0,0,0,0.24); 
            box-shadow: 12px 14px 6px 5px rgba(0,0,0,0.24);
}

.firstTH{
    background-color: gold;
}

.secondTH {
    background-color: aliceblue;
}

.navTwo {
    position: fixed;
    width: 100%;
    z-index: 100;
}



